:root {
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--Red);
    background-image: url(./images/bg-intro-desktop.png);
    width: 100vw;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}



h1 {
    color: var(--White);
    font-size: 3em;
    font-weight: 700;
    width: 30rem;
}

.subtext {
    color: var(--White);
    width: 35rem;
    margin-top: 1.2rem;
    font-weight: 500;
}

.banner {
    background-color: var(--Blue);
    border-radius: 0.5em;
    width: 30rem;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    color: var(--White);
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    box-shadow:  0rem 0.4rem 0rem 0rem rgba(0,0,0,0.15);
}

main {
    flex-direction: column;
    
}

.banner .banner-hl {
    font-weight: 700;
}

.login-container {
    background-color: var(--White);
    border-radius: 0.5rem;
    width: 30rem;
    height: auto;
    margin: 2rem;
    padding: 1rem;
    box-shadow:  0rem 0.4rem 0rem 0rem rgba(0,0,0,0.15);
}

label {
    display: none;
}

input {
    border-width: 1px;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: var(--Grayish-Blue);
    width: 28rem;
    margin: 0.4rem 0;
    padding: 1rem;
    font-weight: 700;
    transition: 0.3s;
    outline: none;
    background-image: none;
    
}

input.toggle {
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 96%;
}

input:focus {
    border-style: solid;
    border-color: var(--Blue);
}

.field-group {
    position: relative;
    height: 5rem;
}

.field-group.error .error-text {
    display: block;
}

.error-text {
	display: none;
}

.error-text {
    
	text-align: right;
    margin-top: -0.3rem;
    margin-right: 0.5rem;
	font-size: .8rem;
	font-style: italic;
	color: var(--Red);
	font-weight: 500;
}


button {
    background-color: var(--Green);
    border: none;
    border-radius: 0.5em;
    width: 28rem;
    margin-top: 0.7rem;
    padding: 1rem;
    color: var(--White);
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: inset 0rem -0.4rem 0rem 0rem rgba(0,0,0,0.15);
    transition: 0.3s;
    cursor: pointer;
}


button:hover {
    background-color: var(--Red);
}

button:active {
    background-color: var(--Red);
}

.terms-and-services {
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--Grayish-Blue);
    text-align: center;
    text-decoration: none;
    margin: 20px;
}

.terms-and-services-hl {
    text-decoration: none; 
    color: var(--Red);
    font-weight: 600;
}

footer { 
    font-size: 0.7rem;
    font-weight: 100;
    color: var(--White);
    text-align: center;
    text-decoration: none;
    margin: 20px;
}
    
footer a { 
    text-decoration: none; 
    color: var(--Blue);
    font-weight: 600;
}

@media (min-width: 1100px) {
    body {
        background-image: url(./images/bg-intro-mobile.png);
    }
   
}


@media (min-width: 520px) and (max-width: 1100px ) {
    body {
        flex-direction: column;
        background-image: url(./images/bg-intro-mobile.png);
    }

    h1 {
        width: 35rem;
        text-align: center;
    }

    .subtext {
        text-align: center;
    }
}

@media (max-width: 520px) {
    body {
        width: auto;
        flex-direction: column;
        margin: 2rem;
        background-image: url(./images/bg-intro-mobile.png);
    }

    h1 {
        width: 20rem;
        text-align: center;
        font-size: 2rem;
        display: block;

    }

    .subtext {
        text-align: center;
        width: 20rem;
        display: block;
        
    }

    .banner {
        width: 20rem;
    }

    .login-container {
        width: 20rem;
        margin: auto;
    }

    .login-container input  {
        width: 15rem;
        margin:1rem 1.5rem
    }

    button {
        width: 15rem;
        margin:1rem 1.5rem;
        font-size: 1rem;
    }

    .error-text {
    
        text-align: right;
        margin-top: -1rem;
        margin-right: 1.5rem;
        font-size: .6rem;
        font-style: italic;
        color: var(--Red);
        font-weight: 500;
    }
    .error-icon {
        position: absolute;
        top: 0;
        right: 2rem;
        top: 39%;
    }

    footer { 
        font-size: 0.6rem;
    }
}